STORAGE_MONGODB_URI="your-mongodb-connection-string"
OPENAI_API_KEY="your-openai-api-key"
NEXT_PUBLIC_GOOGLE_CLIENT_ID="your-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-client-secret"
SESSION_PASSWORD="your-32-character-random-string-for-session-encryption"
